name: Deploy to EC2

on:
    push:
        branches: [ "main" ]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v4
              with: 
                  go-version: '1.25.1'
                  
            - name: Build Go binary
              run: |
                 go mod tidy
                 cd cmd/api
                 GOOS=linux GOARCH=amd64 go build -o mealbook
        
            - name: Move binary to root for Upload
              run: mv cmd/api/mealbook ./mealbook

            - name: Upload to EC2
              uses: appleboy/scp-action@v0.1.4
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.EC2_SSH_KEY }}
                  source: "mealbook"
                  target: "/home/${{ secrets.EC2_USER }}/mealbook"
                  strip_components: 2

            - name: Restart Systemd Service
              uses: appleboy/ssh-action@v0.1.6
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.EC2_SSH_KEY }}
                  script: |
                      sudo systemctl daemon-reload
                      sudo systemctl restart mealbook.service
                      sudo systemctl status mealbook.service --no-pager