name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
        - "infra/docker/**"

permissions:
    contents: read

jobs:
    docker:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v5

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Log in to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ vars.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v4
              with:
                  context: ./infra/docker
                  push: true
                  tags: ${{ vars.DOCKERHUB_USERNAME }}/mealbook:latest
